.button {

    width: 140px;
    height: 45px;
    display:block;
    margin-right: auto;
    margin-left: auto;
    border: none;
    border-radius: 0;
    background-color: gray;
    font-family: minhafonte;
    text-decoration: none;
    letter-spacing: 2px;
    color: #ffff;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color ease-in-out 0.3s;
}

button:hover {

    
    background-color: #5a705b ;
    color: #ffff;
    
}

nav a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

nav a:hover {
    opacity: 0.7;
    text-decoration: none;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    display: flex;
    justify-content:  space-around;
    align-items: center;
    font-family: fonte2;
    background: #23232e;
    height: 8vh;
    width: 100%;
    border-radius: 20px;
    margin-top: -10%;
}

.nav-list {
    list-style: none;
    display: flex;
}
.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}


.mobile-menu {
    display: none;
    cursor: pointer;

}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #ffff;
    margin: 8px;
}


#linkemail {
    font-family: fonte2;
    color: #000000;

}
